@import "libs/bootstrap-reboot.min";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0px;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.tabs__content {
    display: block;
}

.tabs__content.hidden {
    display: none;
}

@import "blocks/promo";
@import "blocks/menu";
@import "blocks/devider";
@import "blocks/tabs";
@import "blocks/contact";
@import "blocks/ask";
@import "blocks/headerside";
@import "blocks/consultation";
@import "blocks/footer";
@import "blocks/media";
