.accordion {
    max-width: 950px;
    margin: 0 auto;
    color: black;
    background-color: white;
    padding: 70px 70px;
    .wrapper_ask {
        position: relative;
        margin: 10px 10px;
        &.active .content {
            height: 150px;
        }
        &.active .label::before {
            content: "-";
            font-size: 30px;
        }
    }
    .label {
        position: relative;
        padding: 10px 0;
        font-size: 30px;
        color: black;
        cursor: pointer;
        &::before {
            content: "+";
            color: black;
            position: absolute;
            top: 50%;
            right: -20px;
            font-size: 30px;
            transform: translateY(-50%);
        }
    }
    .content {
        padding-left: 10px;
        position: relative;
        background: white;
        height: 0;
        font-size: 20px;
        text-align: justify;
        max-width: 950px;
        overflow: hidden;
        transition: 0.5s;
    }
    hr {
        width: 100;
        margin-left: 0;
        border: 1px solid grey;
    }
}
