.consultation {
    .rgb {
        width: 1000px;
        height: 1000px;
        background-color: rgba(0, 0, 0, 0.5);
        border: solid 1px white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

    .title {
        color: white;
    }
    &__deskr {
        color: white;
    }

    display: flex;

    background: url("/img/IMG_4076.JPG") center (center/cover) no-repeat;
    background-position-x: 40%;
    background-position-y: 38%;

    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        width: 300px;
        input {
            height: 50px;
            border-radius: 5px;
            background-color: aliceblue;
            margin-bottom: 15px;
            border: none;
            padding: 0 20px;
            font-size: 14px;
            &:nth-child(3) {
                margin-bottom: 20px;
            }
        }
        &_mt25 {
            margin-top: 25px;
        }
        .button_submit {
            background: none;
            height: 47px;
            color: #cf404d;
            font-size: 16px;
            text-decoration: none;
            text-align: center;
            width: 112px;
            display: block;
            border-radius: 4px;
            border: 2px solid #fff;
            font-weight: 400;
            width: 300px;
            &:hover {
                color: #cf404d;
                text-decoration: none;
                animation: bubble 0.4s ease-out;
            }
        }
    }
}
