.devider {
    padding: 44px 90px;
    height: 135px;
    background-color: #000000;
    border: 2px rgb(255, 255, 255) solid;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .devider__descr {
            color: #fff;
            font-family: "Bitter", serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px; /* 116.129% */
        }
        .devider__btn-red {
            padding-top: 9px;
            text-align: center;
            display: block;
            width: 127px;
            height: 47px;
            border-radius: 4px;
            border: 2px solid #fff;
            text-decoration: none;
            color: #fff;
            &:hover {
                color: #ffffff;
                text-decoration: none;
                animation: bubble 0.4s ease-out;
            }
        }
    }
}
