@media (max-width: 1200px) {
    .promo {
        padding-top: 170px;
        .container {
            margin-left: 90px;
        }
        &__descr {
            width: 430px;
        }
        &__title-text {
            margin-right: 0px;
        }
    }
}
@media (max-width: 991px) {
    .promo {
        padding-top: 170px;
        .container {
            margin-left: 55px;
        }
        &__descr {
            width: 430px;
            p {
                width: 380px;
                font-size: 16px;
                font-weight: 390;
            }
        }
        &__title-text {
            margin-right: 0px;
        }
        background-position-x: +40px;
        background-position-y: 28%;
    }
}

@media (max-width: 767px) {
    .promo {
        padding-top: 100px;
        .container {
            margin-left: 55px;
        }
        &__descr {
            width: 100px;
            p {
                width: 200px;
                font-size: 16px;
                font-weight: 390;
            }
            h1 {
                text-align: end;
                img {
                    margin-top: 2px;
                    margin-left: 3px;
                }
            }
        }
        &__title-text {
            font-size: 30px;
            margin-right: 0px;
            line-height: 30px;
        }
        background-position-x: +40px;
        background-position-y: 28%;
        &__btns {
            display: flex;
            width: 190px;
            margin-top: 35px;
            justify-content: space-between;
            &_light {
                padding-top: 9px;
                height: 47px;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                text-align: center;
                width: 90px;
                display: block;
                border-radius: 4px;
                border: 2px solid #fff;
                font-weight: 400;
                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                    animation: bubble 0.4s ease-out;
                }
            }
            &_red {
                padding-top: 9px;
                height: 47px;
                font-weight: 400;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                text-align: center;
                width: 90px;
                display: block;
                border-radius: 4px;
                border: 2px solid #000000;
                background: #000000;
                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                    animation: bubble 0.4s ease-out;
                }
                @keyframes bubble {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .promo {
        padding-top: 220px;
        background-position-x: 30%;
        background-position-y: 28%;
    }
    .promo__title {
        width: 100%;
    }
    .promo__title-text {
        line-height: 24px;
        font-size: 30px;
    }
    .promo .container {
        margin-left: 50px;
    }
    .promo .promo__descr {
        width: 150px;
    }
    .promo .promo__descr p {
        font-size: 11px;
    }
    .promo .promo__descr img {
        margin-top: 4px;
        margin-left: 3px;
        width: 40px;
        height: 40px;
    }
}
