@media (max-width: 1500px) {
    .tabs {
        &__item {
            width: 100%;
            height: 400px; /* Задайте фіксовану висоту для карток */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Заповнює простір, зберігаючи пропорції та обрізаючи зайві частини */
                object-position: center; /* Вирівнює зображення по центру */
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                    border-radius: 5px;
                    border: 3px rgb(207, 64, 77) solid;
                }
            }
        }
        &__content {
            grid-template-rows: 400px 400px;
            grid-template-columns: 275px 275px 275px 275px;
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        padding-top: 150px;
        .container {
            margin-left: 90px;
        }
        &__descr {
            width: 430px;
        }
        &__title-text {
            margin-right: 0px;
        }
    }
    .tabs {
        &__item {
            width: 100%;
            height: 440px; /* Задайте фіксовану висоту для карток */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Заповнює простір, зберігаючи пропорції та обрізаючи зайві частини */
                object-position: center; /* Вирівнює зображення по центру */
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                    border-radius: 5px;
                    border: 3px rgb(207, 64, 77) solid;
                }
            }
        }
        #app {
            width: 70%;
            nav {
                .tab-btn {
                    width: 130px;
                }
            }
        }

        &__content {
            grid-template-rows: 440px 440px 440px 440px;
            grid-template-columns: 300px 300px;
        }
    }
    .consultation {
        .container {
            .rgb {
                width: 120%;
            }
        }
    }
}
@media (max-width: 991px) {
    .promo {
        padding-top: 170px;
        .container {
            margin-left: 55px;
        }
        &__descr {
            width: 430px;
            p {
                width: 380px;
                font-size: 16px;
                font-weight: 390;
            }
        }
        &__title-text {
            margin-right: 0px;
        }
        background-position-x: +40px;
        background-position-y: 28%;
    }
    .menu {
        &__content-wrepper {
            justify-content: center;
            display: grid;
            margin-top: 62px;
            grid-template-rows: 380px 380px;
            grid-template-columns: 220px 220px;
            gap: 21px;
            &-item {
                display: flex;
                flex-direction: column;
                width: 219px;
                text-align: center;

                .icon-item {
                    justify-content: center;
                    display: flex;
                    position: relative;
                    img {
                        display: block;
                        width: 100px;
                        height: 100px;
                        position: relative;
                    }
                }
                .title-item {
                    text-align: center;
                    margin-top: 19px;
                    color: #313131;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 30px; /* 176.471% */
                    text-transform: uppercase;
                    position: relative;
                    &__love {
                        &::before {
                            content: ""; /* Додайте контент для псевдоелемента */
                            position: absolute;
                            display: block;
                            top: -121px;
                            left: 103px;
                            width: 27px;
                            height: 25px;
                            /* Додайте URL вашого зображення в якості фону псевдоелементу */
                            background: url("/img/lover.png");
                            background-size: 27px;
                            /* Інші стилі, які вам потрібні для розміщення і відображення */
                            animation: bubble;
                            animation-duration: 1.5s;
                            animation-timing-function: ease;
                            animation-iteration-count: infinite;
                            animation-delay: 2s;
                        }
                    }
                }
                .descr-item {
                    margin-top: 11px;
                    color: rgba(0, 0, 0, 0.74);
                    font-family: Droid Sans;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 133.333% */
                }
                a {
                    color: #cf404d;
                    text-decoration: none;
                    margin-top: 7px;
                    display: block;
                }
            }
        }
    }
    .tabs {
        &__item {
            width: 100%;
            height: 400px; /* Задайте фіксовану висоту для карток */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Заповнює простір, зберігаючи пропорції та обрізаючи зайві частини */
                object-position: center; /* Вирівнює зображення по центру */
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                    border-radius: 5px;
                    border: 3px rgb(207, 64, 77) solid;
                }
            }
        }
        #app {
            width: 600px;
            .tab-btn {
                font-size: 15px;
            }
        }
        &__content {
            grid-template-rows: 400px 400px 400px 400px;
            grid-template-columns: 280px 280px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        padding-top: 100px;
        .container {
            margin-left: 55px;
        }
        &__descr {
            width: 100px;
            p {
                width: 200px;
                font-size: 16px;
                font-weight: 390;
            }
            h1 {
                text-align: end;
                img {
                    margin-top: 2px;
                    margin-left: 3px;
                }
            }
        }
        &__title-text {
            font-size: 30px;
            margin-right: 0px;
            line-height: 30px;
        }
        background-position-x: 40px;
        background-position-y: 28%;
        &__btns {
            display: flex;
            width: 190px;
            margin-top: 35px;
            justify-content: space-between;
            &_light {
                padding-top: 9px;
                height: 47px;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                text-align: center;
                width: 90px;
                display: block;
                border-radius: 4px;
                border: 2px solid #fff;
                font-weight: 400;
                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                    animation: bubble 0.4s ease-out;
                }
            }
            &_red {
                padding-top: 9px;
                height: 47px;
                font-weight: 400;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                text-align: center;
                width: 90px;
                display: block;
                border-radius: 4px;
                border: 2px solid #000000;
                background: #000000;
                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                    animation: bubble 0.4s ease-out;
                }
                @keyframes bubble {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .menu {
        &__content-wrepper {
            justify-content: center;
            display: grid;
            margin-top: 62px;
            grid-template-rows: 380px;
            grid-template-columns: 220px;
            gap: 21px;
            &-item {
                display: flex;
                flex-direction: column;
                width: 219px;
                text-align: center;

                .icon-item {
                    justify-content: center;
                    display: flex;
                    position: relative;
                    img {
                        display: block;
                        width: 100px;
                        height: 100px;
                        position: relative;
                    }
                }
                .title-item {
                    text-align: center;
                    margin-top: 19px;
                    color: #313131;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 30px; /* 176.471% */
                    text-transform: uppercase;
                    position: relative;
                    &__love {
                        &::before {
                            content: ""; /* Додайте контент для псевдоелемента */
                            position: absolute;
                            display: block;
                            top: -121px;
                            left: 103px;
                            width: 27px;
                            height: 25px;
                            /* Додайте URL вашого зображення в якості фону псевдоелементу */
                            background: url("/img/lover.png");
                            background-size: 27px;
                            /* Інші стилі, які вам потрібні для розміщення і відображення */
                            animation: bubble;
                            animation-duration: 1.5s;
                            animation-timing-function: ease;
                            animation-iteration-count: infinite;
                            animation-delay: 2s;
                        }
                    }
                }
                .descr-item {
                    margin-top: 11px;
                    color: rgba(0, 0, 0, 0.74);
                    font-family: Droid Sans;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 133.333% */
                }
                a {
                    color: #cf404d;
                    text-decoration: none;
                    margin-top: 7px;
                    display: block;
                }
            }
        }
    }
    .devider {
        padding: 44px 45px;
        font-size: 20px;
        .container {
            .devider__descr {
                padding-top: 5px;
                font-size: 20px;
            }
        }
    }
    .tabs {
        &__item {
            width: 100%;
            height: 500px; /* Задайте фіксовану висоту для карток */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Заповнює простір, зберігаючи пропорції та обрізаючи зайві частини */
                object-position: center; /* Вирівнює зображення по центру */
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                    border-radius: 5px;
                    border: 3px rgb(207, 64, 77) solid;
                }
            }
        }
        #app {
            background-color: white;
            width: 67%;
            margin-left: 5%;
            
            nav {
                .tab-btn {
                    font-size: 0;
                    width: 39px;
                    img {
                        margin-right: 0;
                    }
                    div {
                        display: none;
                    }
                }
            }
        }
        &__content {
            grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px;
            grid-template-columns: 500px;
        }
    }
    .consultation {
        .container {
            .rgb {
                margin-left: 50px;
                width: 85%;
            }
        }
    }
}
@media (max-width: 575px) {
    .promo {
        padding-top: 166px;
        background-position-x: 72%;
        background-position-y: 28%;
    }
    .promo__title {
        width: 100%;
    }
    .promo__title-text {
        line-height: 24px;
        font-size: 30px;
    }
    .promo .container {
        margin-left: 50px;
    }
    .promo .promo__descr {
        width: 150px;
    }
    .promo .promo__descr p {
        font-size: 11px;
    }
    .promo .promo__descr img {
        margin-top: 4px;
        margin-left: 3px;
        width: 40px;
        height: 40px;
    }
    .devider {
        height: 100px;
        padding: 25px 10px 25px 50px;

        font-size: 14px;
        .container {
            .devider__descr {
                padding-top: 5px;
                font-size: 12px;
            }
        }
    }
    .tabs {
        &__item {
            width: 100%;
            height: 310px; /* Задайте фіксовану висоту для карток */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Заповнює простір, зберігаючи пропорції та обрізаючи зайві частини */
                object-position: center; /* Вирівнює зображення по центру */
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                    border-radius: 5px;
                    border: 3px rgb(207, 64, 77) solid;
                }
            }
        }
        #app {
            background-color: white;
            width: 67%;
            margin-left: 5%;
            nav {
                .tab-btn {
                    width: 39px;
                    img {
                        margin-right: 0;
                    }
                    div {
                        display: none;
                    }
                }
            }
        }
        &__content {
            grid-template-rows: 310px 310px 310px 310px 310px 310px 310px 310px;
            grid-template-columns: 250px;
        }
    }
    .ask {
        .accordion {
            .label{
                font-size: 15px;
            }
            .content {
                line-height: 15px;
                font-size: 11px;
                
            }
        }
    }
    .consultation {
        .container {
            .rgb {
                padding-top: 50px;
                padding-bottom: 50px;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 50px;
                width: 83%;
                height: 100%;
                .feed-form {
                    width: 200px;
                    .button_submit {
                        width: 100%;
                        background: none;
                    }
                }
            }
        }
    }
}